
<% unless comment.commenter.nil?%>
<div class="commentBox">
      <p class="taskDescription"> <%=   comment.commenter   %></p>
</div>
<div class="actionBox">
  <ul class="commentList">
    <li>
      <div class="commenterImage" >
        <img src="https://2.bp.blogspot.com/-PkHO2Cf4LJ4/WAv8o4XacXI/AAAAAAADqg0/JuWLuOzmIeEWFZ_GNtdOLVT8C2dU84mmACLcB/s1600/TW326264.png" height="5%" width="5%"/>
      </div>
      <div class="commentText">
        <pre><code><%=   comment.body   %></p></code></pre>
      </div>
    </li>
  </ul>
</div>
<p>
  <%if can? :destroy, comment %> <%=   link_to t('link_text.comment.destroy'), [comment.recipe, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' }   %> <% end %>
</p>
<% end %>