<div class="jumbotron text-center">
  <%if user_signed_in? %>
    <%controller.redirect_to recipes_path %>
  <%end%>
  <h1><%=t('welcome') %></h1>


  <a href="/users/sign_up"><%=t('new_here')%></a>
  <br>
  <a href="/users/sign_in"><%= t('if_not') %></a>
</div>

