<div class="jumbotron text-center">
  <%if user_signed_in? %>
    <%controller.redirect_to recipes_path %>
  <%end%>
  <h1><%=t('welcome') %></h1>

  <%= link_to t('new_here'), new_user_registration_url %>
  <%= link_to t('if_not'), new_user_session_url %>
</div>

